:host {
  display: block;
  min-height: 100vh;
}

/* Layout privé */
.layout {
  display: flex;
  min-height: calc(100vh - 64px - 56px); /* hauteur écran - navbar - footer */
}

/* Sidebar gauche */
app-sidebar {
  width: 260px;
  flex-shrink: 0;
  display: block;
}

/* Zone de contenu */
.content {
  flex: 1;
  padding: 24px;
  background: #f8fafc;
  overflow-x: auto;
}

/* Footer reste en bas */
app-footer {
  display: block;
}